.navbar {
    display: flex;
    padding: 0 80px;
    justify-content: right;
    flex-direction:row;
    background:seagreen;
}

.navbar__item {
    padding: 0 50px;
    text-transform: uppercase;
    list-style: none;
}